@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
fieldset,
img {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
}
a {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
}
header {
  position: fixed;
  width: 100%;
  background-color: hsl(265deg, 50%, 5%);
  color: hsl(0deg, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
}
.home {
  margin-left: 16px;
  font-size: 24px;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
}

.links {
  margin: 0 16px;
}
.links > a:hover,
.home:hover {
  text-decoration: underline;
  transform: scale(1.2);
}
.landing-page {
  background-image: url("./assets/landing-page-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  color: hsl(0deg, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro {
  font-size: 32px;
}
.name {
  font-size: 64px;
  margin-bottom: 48px;
  animation: slideRight 1500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes slideRight {
  0% {
    transform: translateX(-500px);
    opacity: 0;
    font-size: 128px;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    font-size: 64px;
  }
}
.title {
  font-size: 32px;
  text-align: center;
  padding-top: 72px;
}
.job {
  animation: slideLeft 2000ms forwards;
}
@keyframes slideLeft {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0);
  }
}
.contact > .title {
  padding-top: 16px;
}
.about,
.portfolio {
  background-color: hsl(265deg, 50%, 5%);
  color: hsl(0deg, 0%, 100%);
  padding-bottom: 72px;
  width: 100%;
}
.bio {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}
.avatar {
  background-image: url("./assets/avatar.jpg");
  background-position: right;
  background-size: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 8px auto;
}
.bio > p {
  margin: 8px;
}
.tech-stack {
  background-image: url("./assets/tech-stack-bg.jpg");
  background-size: cover;
  background-position: center;
  color: hsl(0deg, 0%, 100%);
  width: 100%;
}
.tech-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.tech-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 64px;
  font-size: 24px;
}
.tech {
  margin-bottom: 8px;
}
.tech-bg {
  background-color: hsl(0deg, 0%, 100%);
  padding: 0 16px;
  border-radius: 50%;
}
.project-div {
  display: flex;
}
.project-preview {
  width: 33%;
  margin: 24px;
}
.project-info {
  display: flex;
  flex-direction: column;
  margin: 24px;
}

.project-title {
  font-weight: bold;
  font-size: 16px;
}
.project-info > a {
  margin: 8px 0;
  border: 2px solid hsl(0deg, 0%, 100%);
  color: hsl(265deg, 50%, 5%);
  font-weight: bold;
  background-color: hsl(0deg, 0%, 90%);
  width: fit-content;
  border-radius: 8px;
  padding: 4px 8px;
}
.project-info > a:hover {
  animation: spin 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.project-description {
  line-height: 20px;
}
.project-coming-soon {
  margin: 0 auto;
  font-size: 48px;
}

.contact {
  background-color: hsl(0deg, 0%, 90%);
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.social-media-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media {
  padding: 64px;
}
.media-logo {
  width: 48px;
}
.media-logo:hover {
  animation: spinIt 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes spinIt {
  0% {
    transform: scale(1) rotate(0deg);
  }
  85% {
    transform: scale(2) rotate(350deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
footer {
  font-size: 24px;
  margin: 16px auto;
  text-align: center;
  background-color: hsl(0deg, 0%, 90%);
}
@media (max-width: 600px) {
  header {
    width: 100vw;
  }
  .menu {
    display: none;
  }
  .home {
    display: flex;
    margin: 0 auto;
    font-size: 32px;
  }
  .name {
    font-size: 48px;
  }
  .project-div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .project-preview {
    width: 50%;
  }
  .project-info {
    align-items: center;
    justify-content: center;
  }
  .project-coming-soon {
    font-size: 32px;
  }
  .social-media-list {
    flex-direction: column;
  }
  .social-media {
    padding: 48px;
  }
  .contact > .title {
    padding-top: 32px;
  }
  footer {
    margin: 0;
    padding-bottom: 24px;
  }
}
